# Large data files
#Roadway_SubBlock.geojson
*.xlsx
*.tif
*.xcs

# Both project Data folders but keep kml
data/*.csv
data/*.xlsx
data/downloaded/
data/docs/
data/FirstTries/

dev/data/*.csv
dev/data/*.xlsx

#and other non-python dev folder contents too
dev/*.bat

# image folder contents
image/
images/

# sandbox folder contents
sandbox/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Contents of config folder
config/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# YAML
.yaml
data/DC_ao051525.kml
data/dc_color_aves.kml
data/E W Hill Lines.kml
data/HilltopLines.jpg
data/N S Hill Lines.kml
data/NE SW Hill Lines.kml
data/NW SE Hill Lines.kml
data/octant_highpnts.geojson
data/official_boundaries.geojson
data/PenLinesFiltered.kml
data/River.kml
data/RiverLinesFiltered.kml
data/RiverPnts_critlines.kml
data/RiverPnts.kml
data/SelectLinesFiltered.kml
data/SelectPnts.kml
data/ThreeHigh.kml
data/XCenterLinesFiltered.kml
data/XEastLinesFiltered.kml
data/XNorthLinesFiltered.kml
data/XPnts.kml
data/River.kml
data/RiverPnts_critlines.kml
data/SelectPnts.kml
qgis/DC_City_Substreet_attachments.zip
qgis/DC_City_Substreet.qgs
qgis/DC_City_Substreet.qgs~
qgis/dc_dem.tif
qgis/dc_dem.tif.aux.xml
qgis/DC_Roadways.qgz
qgis/DC_USGS_combo__attachments.zip
qgis/DC_USGS_combo_.qgs
qgis/DC_USGS_combo_.qgs~
qgis/DC_USGS_comboA_attachments.zip
qgis/DC_USGS_comboA.qgs
qgis/DC_USGS_comboA.qgs~
qgis/DC_USGS_comboB_attachments.zip
qgis/DC_USGS_comboB.qgs
qgis/DC_USGS_comboB.qgs~
qgis/DC_USGS_comboC_attachments.zip
qgis/DC_USGS_comboC.qgs
qgis/DC_USGS_comboC.qgs~
qgis/DC_USGS_hawkin_attachments.zip
qgis/DC_USGS_hawkin.qgs~
qgis/DC_USGS_hawkins.qgs
qgis/DC_USGS_schematic_attachments.zip
qgis/DC_USGS_schematic.qgs
qgis/DC_USGS_schematic.qgs~
qgis/DC_Waterways.qgz
qgis/hilltops_attachments.zip
qgis/hilltops.qgs
qgis/hilltops.qgs~
qgis/Hydrography_Centerline.geojson
qgis/Hydrography_Lines.geojson
qgis/Roadway_SubBlock.geojson
qgis/USGS_1M_18_x32y430_VA_NorthernVA_B22.tif
qgis/USGS_1m_x31y432_VA_Fairfax_County_2018.tif
qgis/USGS_1m_x31y432_VA_Fairfax_County_2018.tif.aux - Copy.xml
qgis/USGS_1m_x31y432_VA_Fairfax_County_2018.tif.aux.xml
qgis/USGS_1m.qgz
qgis/USGS_one_meter_x32y431_MD_VA_Sandy_NCR_2014.tif
qgis/USGS_one_meter_x32y432_MD_VA_Sandy_NCR_2014.tif
qgis/Waterbodies_2019.geojson
qgis/Ellicot/ellicott_loc.xcf
qgis/Ellicot/ellicott_outline.png
qgis/Ellicot/ellicott_outline.xcf
qgis/Ellicot/ellicott_overlay_outline.png
qgis/Ellicot/Ellicott_Plan.img.points
qgis/Ellicot/ellicott_plan.jpg
qgis/Ellicot/ellicott_plan.xcf
qgis/Ellicot/ellicott_spirals.xcf
qgis/Ellicot/ellicott.qgz
qgis/Ellicot/ellicott.xcf
qgis/Ellicot/LEnfant plan.jpg
qgis/Ellicot/lenfant_planA.jpg
qgis/Ellicot/lenfant_rectangles.jpg
qgis/Ellicot/washington_plan.xcf
qgis/Ellicot/Ellicott_Plan/Ellicott_Hawkins.img.points
qgis/Ellicot/Ellicott_Plan/Ellicott_Plan.img
qgis/Ellicot/Ellicott_Plan/Ellicott_Plan.img.xml
qgis/Ellicot/Ellicott_Plan/Ellicott_Plan.rrd
qgis/Ellicot/Ellicott_Plan/scratch_delete_me.img.points
qgis/Hawkins/Ellicott_Hawkins_attachments.zip
qgis/Hawkins/Ellicott_Hawkins.qgs
qgis/Hawkins/Ellicott_Hawkins.tif
qgis/Hawkins/Ellicott_Hawkins.tif.aux.xml
qgis/Hawkins/Hawkins_bilinear_modB.tif
qgis/Hawkins/Hawkins_bilinear_modB.tif.aux.xml
qgis/Hawkins/Hawkins_georefA.tif
qgis/Hawkins/Hawkins_georefA.tif.aux.xml
qgis/Hawkins/Hawkins_georefC.img.points
qgis/Hawkins/Hawkins_modA.tif
qgis/Hawkins/Hawkins_modA.tif.aux.xml
qgis/Hawkins/hawkins_topo_project.qgz
qgis/Hawkins/Hawkins_Topography_georefA.tif.aux.xml
qgis/Hawkins/Hawkins_Topography_super_overlay.kmz
qgis/Hawkins/Hawkins_Topography.igw
qgis/Hawkins/Hawkins_Topography.img
qgis/Hawkins/Hawkins_Topography.img.points
qgis/Hawkins/Hawkins_Topography.img.xml
qgis/Hawkins/Hawkins_Topography.rrd
qgis/Hawkins/USGS_Hawkins.img.points
qgis/Schematic Detail/master-gmd-gmd385m-g3850m-g3850m-gct00377-cs000005.tif
qgis/Schematic Detail/master-gmd-gmd385m-g3850m-g3850m-gct00377-cs000005.tif.aux.xml
qgis/Schematic Detail/master-gmd-gmd385m-g3850m-g3850m-gct00377-cs000006.tif
qgis/Schematic Detail/master-gmd-gmd385m-g3850m-g3850m-gct00377-cs000008.tif
qgis/Schematic Detail/master-gmd-gmd385m-g3850m-g3850m-gct00377-cs000010.tif
qgis/Schematic Detail/master-gmd-gmd385m-g3850m-g3850m-gct00377-cs000010.tif.aux.xml
qgis/Schematic Detail/schematic.xcf
qgis/Schematic Detail/schematic03_helmert.tif
qgis/Schematic Detail/schematic03_helmert.tif.aux.xml
qgis/Schematic Detail/schematic03_poly2.tif
qgis/Schematic Detail/schematic03_poly2.tif.aux.xml
qgis/Schematic Detail/schematic03.tif
qgis/Schematic Detail/schematic03.tif.aux.xml
qgis/Schematic Detail/schematic03.tif.ovr
qgis/Schematic Detail/schematic03.tif.points
qgis/Schematic Detail/schematic04_warpA.tif
qgis/Schematic Detail/schematic04_warpA.tif.aux.xml
qgis/Schematic Detail/schematic04.tif
qgis/Schematic Detail/schematic04.tif.aux.xml
qgis/Schematic Detail/schematic04.tif.points
qgis/Schematic Detail/schematic07.tif
qgis/Schematic Detail/schematic07.tif.aux.xml
qgis/Schematic Detail/schematic09.tif
qgis/Schematic Detail/schematic09.tif.aux.xml
qgis/Shaded Relief/Historic_Shaded_Relief.img
qgis/Shaded Relief/Historic_Shaded_Relief.img.xml
qgis/Shaded Relief/Historic_Shaded_Relief.rrd
qgis/Shaded Relief/shaded_relief.kmz
/highpoints
highpoints/azd_og_highpnts.csv
highpoints/dc_dem_highpoints.kml
